@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300&display=swap");
.sedans-class {
    background-color: hsl(31, 77%, 52%);
}

.suv-class {
    background-color: hsl(184, 100%, 22%);
}

.luxury-class {
    background-color: hsl(179, 100%, 13%);
}

.container-frame h1 {
    font-family: "Big Shoulders Display", cursive;
    color: white;
    margin: 0 0 2rem 1.65rem;
}

.container-frame p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    margin: 0 0.95rem 6rem 1.65rem;
    text-align: start;
}

.container-frame {
    width: 45%;
    margin: auto;
    margin-top: 12rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.btn {
    border-radius: 50px !important;
    padding: 0.65rem 2rem !important;
    font-weight: 600 !important;
    font-family: "Lexend Deca", sans-serif !important;
    margin: 0 0 2rem 1.65rem !important;
}

.btn:focus {
    box-shadow: none !important;
}

img {
    margin: 40px 0 40px 30px;
}

@media (max-width: 375px) {
    .container-frame {
        width: 80%;
    }
    .container-frame p {
        margin: 0 0.95rem 2rem 1.65rem;
    }
}